@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	--primary: #367ee9;
	--secondary: #a0aec0;
	--accent: #718096;
	--bg: #d1d5db;
	--main: #0d0106;
	--header: #3730a3;

	--darkPrimary: #367ee9;
	--darkSecondary: #a0aec0;
	--darkAccent: #718096;
	--darkBg: #1f2937;
	--darkMain: #0d0106;
	--darkHeader: #3730a3;
}

@layer components {
	.top-navigation-icon {
		@apply transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
	}
}

::-webkit-scrollbar {
	background-color: transparent;
}
