@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	--primary: #367ee9;
	--secondary: #a0aec0;
	--accent: #718096;
	--bg: #d1d5db;
	--main: #0d0106;
	--header: #3730a3;

	--darkPrimary: #367ee9;
	--darkSecondary: #a0aec0;
	--darkAccent: #718096;
	--darkBg: #18181a;
	--darkMain: #0d0106;
	--darkHeader: #3730a3;
}

@layer components {
	.top-navigation-icon {
		@apply transition duration-300 ease-in-out 
    hover:text-pink-400 
    cursor-pointer;
	}

	.contentContainer {
		height: calc(100vh - 64px);
	}
}
/* Carasoul Styles */
.carousel-root {
	width: 100% !important;
	height: 100% !important;
	position: absolute;
}

.carousel.carousel-slider {
	height: 100% !important;
}

.slider-wrapper.axis-horizontal {
	width: 100% !important;
	height: 100% !important;
}

.slider.animated {
	height: 100% !important;
}

/* Tabs Styles */
.react-tabs {
	-webkit-tap-highlight-color: transparent;
	margin-left: 1rem;
}

.react-tabs__tab-list {
	border-bottom: 1px solid #aaa;
	margin: 0 0 10px;
	padding: 0;
}

.react-tabs__tab {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.react-tabs__tab--selected {
	background: #fff;
	border-color: #aaa;
	color: black;
	border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
	color: GrayText;
	cursor: default;
}

.react-tabs__tab:focus {
	box-shadow: 0 0 5px hsl(208, 99%, 50%);
	border-color: hsl(208, 99%, 50%);
	outline: none;
}

.react-tabs__tab:focus:after {
	content: '';
	position: absolute;
	height: 5px;
	left: -4px;
	right: -4px;
	bottom: -5px;
	background: #fff;
}

.react-tabs__tab-panel {
	display: none;
}

.react-tabs__tab-panel--selected {
	display: block;
}

/* total width */
body::-webkit-scrollbar {
	background-color: #fff;
	width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
	background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
	background-color: #babac0;
	border-radius: 16px;
	border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
	display: none;
}

#myName path:nth-child(1) {
	stroke-dasharray: 10px;
}
